@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    font-family: "Poppins" , sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}


nav , .nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    margin-top: 2rem;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color:white ;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 3rem; 
    text-decoration-color: rgb(181 , 181 , 181);

}

.logo{
    font-size: 5rem;
    font-weight: 500;
    color: black;
}

#title{
    font-size: 4rem;
    font-weight: 200;
}

.logo:hover{
    cursor: default;
}

.container{
    max-width: 95%;
    height: 50rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-image:url(background.jpg);
    background-position: center;
    position: relative;
}
.work-order{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    font-weight: lighter;  
}

.date{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.from-date .to-date{
    width: 100%;
}


form{
    width: 45rem;
    margin-top: 2rem;
    margin-left: 6rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: aliceblue;
    background:none;
    font-family: sans-serif;
    font-weight: 400;   
}
input{
    border-radius: 10px;
    background: none;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    
}

h2{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 2rem;
}

label{
    display: block;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: lighter;
}


select{
    border-radius: 10px;
    background: none;
    color:white ;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
    width: 100%;
    border-style: none;
    border-radius: 10px;
    background: none;
    color:white ;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(43, 24, 24);
    font-weight: lighter;
    box-sizing: border-box;
}
button:hover{
    background-color: rgb(83, 44, 44);
}

.myChart{
    background-color: rgb(255, 255, 255);
    max-width: 900px;
    height: 450px;
    padding: 50px;
    margin: 0 auto;
    

}